@using MsGraphSDKSnippetsCompiler.Models;
@model MsGraphSDKSnippetsCompiler.Models.CompileCycle

@{
    ViewData["Title"] = "Raptor Dashboard";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Stats
        <small>compilation stats</small>
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <h3 class="widget-user-username">CSharp</h3>
                    <h5 class="widget-user-desc">Compiled Snippets</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="~/dist/img/dotnet-logo.png" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">@Model.TotalCompiledSnippets</h5>
                                <span class="description-text">TOTAL</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header text-danger">@Model.TotalErrors</h5>
                                <span class="description-text text-danger">FAIL</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header text-success">@{ int pass = (Model.TotalCompiledSnippets - Model.TotalErrors); <span>@pass</span> }</h5>
                                <span class="description-text text-success">PASS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-orange-active">
                    <h3 class="widget-user-username">Java</h3>
                    <h5 class="widget-user-desc">Compiled Snippets</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="~/dist/img/java-logo.jpg" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">0</h5>
                                <span class="description-text">TOTAL</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header text-danger">0</h5>
                                <span class="description-text text-danger">FAIL</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header text-success">0</h5>
                                <span class="description-text text-success">PASS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-green-active">
                    <h3 class="widget-user-username">JavaScript</h3>
                    <h5 class="widget-user-desc">Compiled Snippets</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="~/dist/img/js-logo.png" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">0</h5>
                                <span class="description-text">TOTAL</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header text-danger">0</h5>
                                <span class="description-text text-danger">FAIL</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header text-success">0</h5>
                                <span class="description-text text-success">PASS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>

        <div class="col-md-3">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-yellow-active">
                    <h3 class="widget-user-username">Objective C</h3>
                    <h5 class="widget-user-desc">Compiled Snippets</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="~/dist/img/objc-logo.png" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header">0</h5>
                                <span class="description-text">TOTAL</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                                <h5 class="description-header text-danger">0</h5>
                                <span class="description-text text-danger">FAIL</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <h5 class="description-header text-success">0</h5>
                                <span class="description-text text-success">PASS</span>
                            </div>
                            <!-- /.description-block -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.widget-user -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Snippets Compile Output</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="compileResults" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Language</th>
                                <th>FileName</th>
                                <th>Error Message</th>
                                <th>CompileDate</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (CompileResultsView compileResultsView in ViewBag.CompileResults)
                                {
                                    <tr>
                                        <td>@compileResultsView.Language</td>
                                        <td>@compileResultsView.FileName</td>
                                        <td>@compileResultsView.ErrorMessage</td>
                                        <td style="white-space: nowrap;">@compileResultsView.CompileDate</td>
                                        <td>
                                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-default-@compileResultsView.CompileResultsErrorID">
                                                View
                                            </button>

                                            <div class="modal fade" id="modal-default-@compileResultsView.CompileResultsErrorID">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            <h4 class="modal-title">Snippet - @compileResultsView.FileName</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <pre>
                                                                        @compileResultsView.Snippet
                                                                    </pre>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <code>
                                                                        @compileResultsView.ErrorMessage
                                                                    </code>
                                                                </div>                                                               
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->

                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Language</th>
                                <th>FileName</th>
                                <th>ErrorMessage</th>
                                <th>CompileDate</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>



